body {
  text-align: center;  
  min-height: 100vh;
  background: linear-gradient(180deg, #000000 0%, #06092A 65.23%, #06092A 100%);
  color: white !important;
  overflow: hidden;
  justify-content:space-around;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


/* 
@media (prefers-reduced-motion: no-preference) {
}
 */